.grid {
  margin: 0 -15px;
  box-sizing: border-box; }
  @media (max-width: 768px) {
    .grid {
      margin: 0 -5px; } }
  .grid:after {
    content: '';
    display: table;
    clear: both; }

.grid__col {
  float: left;
  padding: 0 15px;
  box-sizing: border-box; }
  @media (max-width: 768px) {
    .grid__col {
      padding: 0 5px; } }

.grid__col_1 {
  width: calc(100%/12*1); }

.grid__col_2 {
  width: calc(100%/12*2); }

.grid__col_3 {
  width: calc(100%/12*3); }

.grid__col_4 {
  width: calc(100%/12*4); }

.grid__col_5 {
  width: calc(100%/12*5); }

.grid__col_6 {
  width: calc(100%/12*6); }

.grid__col_7 {
  width: calc(100%/12*7); }

.grid__col_8 {
  width: calc(100%/12*8); }

.grid__col_9 {
  width: calc(100%/12*9); }

.grid__col_10 {
  width: calc(100%/12*10); }

.grid__col_11 {
  width: calc(100%/12*11); }

.grid__pull_1 {
  margin-left: calc(100%/12*1); }

.grid__pull_2 {
  margin-left: calc(100%/12*2); }

.grid__pull_3 {
  margin-left: calc(100%/12*3); }

.grid__pull_4 {
  margin-left: calc(100%/12*4); }

.grid__pull_5 {
  margin-left: calc(100%/12*5); }

.grid__pull_6 {
  margin-left: calc(100%/12*6); }

.grid__pull_7 {
  margin-left: calc(100%/12*7); }

.grid__pull_8 {
  margin-left: calc(100%/12*8); }

.grid__pull_9 {
  margin-left: calc(100%/12*9); }

.grid__pull_10 {
  margin-left: calc(100%/12*10); }

.grid__pull_11 {
  margin-left: calc(100%/12*11); }

.grid__push_1 {
  margin-right: calc(100%/12*1); }

.grid__push_2 {
  margin-right: calc(100%/12*2); }

.grid__push_3 {
  margin-right: calc(100%/12*3); }

.grid__push_4 {
  margin-right: calc(100%/12*4); }

.grid__push_5 {
  margin-right: calc(100%/12*5); }

.grid__push_6 {
  margin-right: calc(100%/12*6); }

.grid__push_7 {
  margin-right: calc(100%/12*7); }

.grid__push_8 {
  margin-right: calc(100%/12*8); }

.grid__push_9 {
  margin-right: calc(100%/12*9); }

.grid__push_10 {
  margin-right: calc(100%/12*10); }

.grid__push_11 {
  margin-right: calc(100%/12*11); }

@media (max-width: 992px) {
  .grid__m-col_0 {
    width: calc(100%/12*0); }
  .grid__m-col_1 {
    width: calc(100%/12*1); }
  .grid__m-col_2 {
    width: calc(100%/12*2); }
  .grid__m-col_3 {
    width: calc(100%/12*3); }
  .grid__m-col_4 {
    width: calc(100%/12*4); }
  .grid__m-col_5 {
    width: calc(100%/12*5); }
  .grid__m-col_6 {
    width: calc(100%/12*6); }
  .grid__m-col_7 {
    width: calc(100%/12*7); }
  .grid__m-col_8 {
    width: calc(100%/12*8); }
  .grid__m-col_9 {
    width: calc(100%/12*9); }
  .grid__m-col_10 {
    width: calc(100%/12*10); }
  .grid__m-col_11 {
    width: calc(100%/12*11); }
  .grid__m-col_12 {
    width: calc(100%/12*12); }
  .grid__m-pull_0 {
    margin-left: calc(100%/12*0); }
  .grid__m-pull_1 {
    margin-left: calc(100%/12*1); }
  .grid__m-pull_2 {
    margin-left: calc(100%/12*2); }
  .grid__m-pull_3 {
    margin-left: calc(100%/12*3); }
  .grid__m-pull_4 {
    margin-left: calc(100%/12*4); }
  .grid__m-pull_5 {
    margin-left: calc(100%/12*5); }
  .grid__m-pull_6 {
    margin-left: calc(100%/12*6); }
  .grid__m-pull_7 {
    margin-left: calc(100%/12*7); }
  .grid__m-pull_8 {
    margin-left: calc(100%/12*8); }
  .grid__m-pull_9 {
    margin-left: calc(100%/12*9); }
  .grid__m-pull_10 {
    margin-left: calc(100%/12*10); }
  .grid__m-pull_11 {
    margin-left: calc(100%/12*11); }
  .grid__m-pull_12 {
    margin-left: calc(100%/12*12); } }

@media (max-width: 768px) {
  .grid__sm-col_0 {
    width: calc(100%/12*0); }
  .grid__sm-col_1 {
    width: calc(100%/12*1); }
  .grid__sm-col_2 {
    width: calc(100%/12*2); }
  .grid__sm-col_3 {
    width: calc(100%/12*3); }
  .grid__sm-col_4 {
    width: calc(100%/12*4); }
  .grid__sm-col_5 {
    width: calc(100%/12*5); }
  .grid__sm-col_6 {
    width: calc(100%/12*6); }
  .grid__sm-col_7 {
    width: calc(100%/12*7); }
  .grid__sm-col_8 {
    width: calc(100%/12*8); }
  .grid__sm-col_9 {
    width: calc(100%/12*9); }
  .grid__sm-col_10 {
    width: calc(100%/12*10); }
  .grid__sm-col_11 {
    width: calc(100%/12*11); }
  .grid__sm-col_12 {
    width: calc(100%/12*12); }
  .grid__sm-pull_0 {
    margin-left: calc(100%/12*0); }
  .grid__sm-pull_1 {
    margin-left: calc(100%/12*1); }
  .grid__sm-pull_2 {
    margin-left: calc(100%/12*2); }
  .grid__sm-pull_3 {
    margin-left: calc(100%/12*3); }
  .grid__sm-pull_4 {
    margin-left: calc(100%/12*4); }
  .grid__sm-pull_5 {
    margin-left: calc(100%/12*5); }
  .grid__sm-pull_6 {
    margin-left: calc(100%/12*6); }
  .grid__sm-pull_7 {
    margin-left: calc(100%/12*7); }
  .grid__sm-pull_8 {
    margin-left: calc(100%/12*8); }
  .grid__sm-pull_9 {
    margin-left: calc(100%/12*9); }
  .grid__sm-pull_10 {
    margin-left: calc(100%/12*10); }
  .grid__sm-pull_11 {
    margin-left: calc(100%/12*11); }
  .grid__sm-pull_12 {
    margin-left: calc(100%/12*12); } }

* {
  box-sizing: border-box; }

body {
  background-color: #030303; }

.container {
  max-width: 1400px;
  margin: 0 auto; }
  @media (max-width: 992px) {
    .container {
      padding: 0 15px; } }

.clock {
  position: relative;
  max-width: 654px;
  margin: 0 auto;
  top: 50vh;
  font-size: 0;
  line-height: 0;
  text-align: center;
  transform: translateY(-50%);
  background-size: 1170px auto;
  background-repeat: no-repeat;
  background-position: center; }
  .clock_symbols {
    max-width: 1200px;
    margin: 50px auto 100px; }
  .clock__group {
    width: 34.862385%;
    display: inline-block;
    vertical-align: top;
    margin: 0 .5%; }
    .clock__group_seconds {
      width: 16.159%;
      padding: 0.25773%; }
  .clock__dots {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    width: 3.3639%;
    margin: 0 1.3761%;
    transform: skewX(-3deg);
    opacity: 0; }
    .clock__dots.active {
      opacity: 1; }
    .clock__dots::after {
      content: '';
      display: block;
      width: 100%;
      padding-bottom: 790.90%; }
    .clock__dots span {
      position: absolute;
      left: 0;
      width: 100%;
      padding-bottom: 100%;
      background-color: #25db00; }
      .clock__dots span:first-child {
        top: 50%;
        transform: translateY(-200%); }
      .clock__dots span:last-child {
        bottom: 50%;
        transform: translateY(200%); }
  .clock__number {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    width: 96px;
    width: 42.1052%;
    margin: 0 3.947%;
    transform: skewX(-3deg); }
    .clock__number::after {
      content: '';
      display: block;
      width: 100%;
      padding-bottom: 177.55%; }
    .clock__number .clock__line {
      position: absolute;
      display: block;
      background-color: #25db00; }
      .clock__number .clock__line span {
        content: '';
        position: absolute;
        width: 100%;
        padding-bottom: 100%;
        left: 0;
        overflow: hidden; }
        .clock__number .clock__line span::after {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          width: 100%;
          padding-bottom: 100%;
          background: #25db00; }
        .clock__number .clock__line span:first-child {
          top: 1px;
          transform: translateY(-100%); }
          .clock__number .clock__line span:first-child::after {
            transform: translate(-50%, 15%) rotate(-45deg); }
        .clock__number .clock__line span:last-child {
          bottom: 1px;
          transform: translateY(100%); }
          .clock__number .clock__line span:last-child::after {
            transform: translate(-50%, -115%) rotate(-45deg); }
      .clock__number .clock__line:nth-child(odd) {
        width: 22.44%;
        padding-bottom: 47.02%; }
      .clock__number .clock__line:nth-child(even) {
        width: 47.02%;
        padding-bottom: 22.44%;
        left: 50%;
        transform: translateX(-50%); }
        .clock__number .clock__line:nth-child(even) span {
          width: 47.82%;
          height: 100%;
          padding-bottom: 0;
          top: 0;
          left: auto;
          right: auto;
          bottom: auto;
          transform: none; }
          .clock__number .clock__line:nth-child(even) span:first-child {
            left: 1px;
            transform: translateX(-100%); }
            .clock__number .clock__line:nth-child(even) span:first-child::after {
              left: 0;
              top: 0;
              transform: translateX(60%) rotate(-45deg); }
          .clock__number .clock__line:nth-child(even) span:last-child {
            right: 1px;
            transform: translateX(100%); }
            .clock__number .clock__line:nth-child(even) span:last-child::after {
              transform: translate(-110%, -50%) rotate(-45deg); }
      .clock__number .clock__line:nth-child(1) {
        left: 0;
        top: 14.94%; }
      .clock__number .clock__line:nth-child(3) {
        left: 0;
        bottom: 14.94%; }
      .clock__number .clock__line:nth-child(5) {
        right: 0;
        top: 14.94%; }
      .clock__number .clock__line:nth-child(7) {
        right: 0;
        bottom: 14.94%; }
      .clock__number .clock__line:nth-child(2) {
        top: 0; }
      .clock__number .clock__line:nth-child(4) {
        top: 50%;
        transform: translate(-50%, -50%); }
      .clock__number .clock__line:nth-child(6) {
        bottom: 0; }
  .clock__number_one .clock__line {
    display: none; }
    .clock__number_one .clock__line:nth-child(5), .clock__number_one .clock__line:nth-child(7) {
      display: block; }
  .clock__number_two .clock__line {
    display: none; }
    .clock__number_two .clock__line:nth-child(2), .clock__number_two .clock__line:nth-child(3), .clock__number_two .clock__line:nth-child(4), .clock__number_two .clock__line:nth-child(5), .clock__number_two .clock__line:nth-child(6) {
      display: block; }
  .clock__number_three .clock__line {
    display: none; }
    .clock__number_three .clock__line:nth-child(2), .clock__number_three .clock__line:nth-child(4), .clock__number_three .clock__line:nth-child(5), .clock__number_three .clock__line:nth-child(6), .clock__number_three .clock__line:nth-child(7) {
      display: block; }
  .clock__number_four .clock__line {
    display: none; }
    .clock__number_four .clock__line:nth-child(1), .clock__number_four .clock__line:nth-child(4), .clock__number_four .clock__line:nth-child(5), .clock__number_four .clock__line:nth-child(7) {
      display: block; }
  .clock__number_five .clock__line {
    display: none; }
    .clock__number_five .clock__line:nth-child(1), .clock__number_five .clock__line:nth-child(2), .clock__number_five .clock__line:nth-child(4), .clock__number_five .clock__line:nth-child(6), .clock__number_five .clock__line:nth-child(7) {
      display: block; }
  .clock__number_six .clock__line {
    display: none; }
    .clock__number_six .clock__line:nth-child(1), .clock__number_six .clock__line:nth-child(2), .clock__number_six .clock__line:nth-child(3), .clock__number_six .clock__line:nth-child(4), .clock__number_six .clock__line:nth-child(6), .clock__number_six .clock__line:nth-child(7) {
      display: block; }
  .clock__number_seven .clock__line {
    display: none; }
    .clock__number_seven .clock__line:nth-child(2), .clock__number_seven .clock__line:nth-child(5), .clock__number_seven .clock__line:nth-child(7) {
      display: block; }
  .clock__number_nine .clock__line:nth-child(3) {
    display: none; }
  .clock__number_zero .clock__line:nth-child(4) {
    display: none; }
