.clock {
	font-size: 0;
	line-height: 0;
	text-align: center;
	// background-image: url('../img/back.jpg');
	background-size: 1170px auto;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 200px;

	&__number {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		width: 98px;
		margin: 0 9px;
		// outline: 1px solid $green;
		// opacity: .6;

		&::after {
			content: '';
			display: block;
			width: 100%;
			padding-bottom: 177.55%;
		}

		.clock__line {
			position: absolute;
			display: block;
			background-color: $green;

			span {
				content: '';
				position: absolute;
				width: 100%;
				padding-bottom: 100%;
				left: 0;
				overflow: hidden;

				&::after {
					content: '';
					position: absolute;
					top: 50%;
					left: 50%;
					width: 100%;
					padding-bottom: 100%;
					background: $green;
					
				}

				&:first-child {
					top: 1px;
					transform: translateY(-100%);

					&::after {
						transform: translate(-50%, 15%) rotate(-45deg);
					}
				}
				&:last-child {
					bottom: 1px;
					transform: translateY(100%);

					&::after {
						transform: translate(-50%, -115%) rotate(-45deg);
					}
				}
			}

			&:nth-child(odd) {
				width: 22.44%;
				padding-bottom: 47.02%;
			}
			&:nth-child(even) {
				// display: none;
				width: 47.02%;
				padding-bottom: 22.44%;
				left: 50%;
				transform: translateX(-50%);

				span {
					// display: none;
					width: 47.82%;
					height: 100%;
					padding-bottom: 0;
					top: 0;
					left: auto;
					right: auto;
					bottom: auto;
					transform: none;

					&:first-child {
						left: 1px;
						transform: translateX(-100%);

						&::after {
							left: 0;
							top: 0;
							transform: translateX(60%) rotate(-45deg);
						}
					}
					&:last-child {
						right: 1px;
						transform: translateX(100%);

						&::after {
							transform: translate(-110%, -50%) rotate(-45deg);
						}
					}
				}
			}
			&:nth-child(1) {
				left: 0;
				top: 14.94%;
			}
			&:nth-child(3) {
				left: 0;
				bottom: 14.94%;
			}
			&:nth-child(5) {
				right: 0;
				top: 14.94%;
			}
			&:nth-child(7) {
				right: 0;
				bottom: 14.94%;
			}
			&:nth-child(2) {
				top: 0;
			}
			&:nth-child(4) {
				top: 50%;
				transform: translate(-50%, -50%);
			}
			&:nth-child(6) {
				bottom: 0;
			}
		}
	}

	&__number_one {
		.clock__line {
			display: none;

			&:nth-child(5), &:nth-child(7) {
				display: block;
			}
		}
	}
	&__number_two {
		.clock__line {
			display: none;

			&:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6) {
				display: block;
			}
		}
	}
	&__number_three {
		.clock__line {
			display: none;

			&:nth-child(2), &:nth-child(4), &:nth-child(5), &:nth-child(6), &:nth-child(7) {
				display: block;
			}
		}
	}
	&__number_four {
		.clock__line {
			display: none;

			&:nth-child(1), &:nth-child(4), &:nth-child(5), &:nth-child(7) {
				display: block;
			}
		}
	}
	&__number_five {
		.clock__line {
			display: none;

			&:nth-child(1), &:nth-child(2), &:nth-child(4), &:nth-child(6), &:nth-child(7) {
				display: block;
			}
		}
	}
	&__number_six {
		.clock__line {
			display: none;

			&:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(6), &:nth-child(7) {
				display: block;
			}
		}
	}
	&__number_seven {
		.clock__line {
			display: none;

			&:nth-child(2), &:nth-child(5), &:nth-child(7) {
				display: block;
			}
		}
	}
	&__number_nine {
		.clock__line {
			&:nth-child(3) {
				display: none;
			}
		}
	}
	&__number_zero {
		.clock__line {
			&:nth-child(4) {
				display: none;
			}
		}
	}
}