.clock {
	position: relative;
	max-width: 654px;
	margin: 0 auto;
	top: 50vh;
	font-size: 0;
	line-height: 0;
	text-align: center;
	transform: translateY(-50%);
	background-size: 1170px auto;
	background-repeat: no-repeat;
	background-position: center;

	&_symbols {
		max-width: 1200px;
		margin: 50px auto 100px;
	}
	&__group {
		width: 34.862385%;
		display: inline-block;
		vertical-align: top;
		margin: 0 .5%;

		&_seconds {
			width: 16.159%;
			padding: 0.25773%;
		}
	}
	&__dots {
		position: relative;
		display: inline-block;
		vertical-align: bottom;
		width: 3.3639%;
		margin: 0 1.3761%;
		transform: skewX(-3deg);
		opacity: 0;

		&.active {
			opacity: 1;
		}
		&::after {
			content: '';
			display: block;
			width: 100%;
			padding-bottom: 790.90%;
		}
		span {
			position: absolute;
			left: 0;
			width: 100%;
			padding-bottom: 100%;
			background-color: $green;

			&:first-child {
				top: 50%;
				transform: translateY(-200%);
			}
			&:last-child {
				bottom: 50%;
				transform: translateY(200%);
			}
		}
	}
	&__number {
		position: relative;
		display: inline-block;
		vertical-align: bottom;
		width: 96px;
		width: 42.1052%;
		margin: 0 3.947%;
		transform: skewX(-3deg);

		&::after {
			content: '';
			display: block;
			width: 100%;
			padding-bottom: 177.55%;
		}

		.clock__line {
			position: absolute;
			display: block;
			background-color: $green;

			span {
				content: '';
				position: absolute;
				width: 100%;
				padding-bottom: 100%;
				left: 0;
				overflow: hidden;

				&::after {
					content: '';
					position: absolute;
					top: 50%;
					left: 50%;
					width: 100%;
					padding-bottom: 100%;
					background: $green;
					
				}

				&:first-child {
					top: 1px;
					transform: translateY(-100%);

					&::after {
						transform: translate(-50%, 15%) rotate(-45deg);
					}
				}
				&:last-child {
					bottom: 1px;
					transform: translateY(100%);

					&::after {
						transform: translate(-50%, -115%) rotate(-45deg);
					}
				}
			}

			&:nth-child(odd) {
				width: 22.44%;
				padding-bottom: 47.02%;
			}
			&:nth-child(even) {
				width: 47.02%;
				padding-bottom: 22.44%;
				left: 50%;
				transform: translateX(-50%);

				span {
					width: 47.82%;
					height: 100%;
					padding-bottom: 0;
					top: 0;
					left: auto;
					right: auto;
					bottom: auto;
					transform: none;

					&:first-child {
						left: 1px;
						transform: translateX(-100%);

						&::after {
							left: 0;
							top: 0;
							transform: translateX(60%) rotate(-45deg);
						}
					}
					&:last-child {
						right: 1px;
						transform: translateX(100%);

						&::after {
							transform: translate(-110%, -50%) rotate(-45deg);
						}
					}
				}
			}
			&:nth-child(1) {
				left: 0;
				top: 14.94%;
			}
			&:nth-child(3) {
				left: 0;
				bottom: 14.94%;
			}
			&:nth-child(5) {
				right: 0;
				top: 14.94%;
			}
			&:nth-child(7) {
				right: 0;
				bottom: 14.94%;
			}
			&:nth-child(2) {
				top: 0;
			}
			&:nth-child(4) {
				top: 50%;
				transform: translate(-50%, -50%);
			}
			&:nth-child(6) {
				bottom: 0;
			}
		}
	}

	&__number_one {
		.clock__line {
			display: none;

			&:nth-child(5), &:nth-child(7) {
				display: block;
			}
		}
	}
	&__number_two {
		.clock__line {
			display: none;

			&:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6) {
				display: block;
			}
		}
	}
	&__number_three {
		.clock__line {
			display: none;

			&:nth-child(2), &:nth-child(4), &:nth-child(5), &:nth-child(6), &:nth-child(7) {
				display: block;
			}
		}
	}
	&__number_four {
		.clock__line {
			display: none;

			&:nth-child(1), &:nth-child(4), &:nth-child(5), &:nth-child(7) {
				display: block;
			}
		}
	}
	&__number_five {
		.clock__line {
			display: none;

			&:nth-child(1), &:nth-child(2), &:nth-child(4), &:nth-child(6), &:nth-child(7) {
				display: block;
			}
		}
	}
	&__number_six {
		.clock__line {
			display: none;

			&:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(6), &:nth-child(7) {
				display: block;
			}
		}
	}
	&__number_seven {
		.clock__line {
			display: none;

			&:nth-child(2), &:nth-child(5), &:nth-child(7) {
				display: block;
			}
		}
	}
	&__number_nine {
		.clock__line {
			&:nth-child(3) {
				display: none;
			}
		}
	}
	&__number_zero {
		.clock__line {
			&:nth-child(4) {
				display: none;
			}
		}
	}
}