extends ./tpl/layout

block page
	.container
		-
			var numbers = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'zero'];
		
		.clock
			each item in numbers
				.clock__number(class='clock__number_' + item)
					.clock__line
						span 
						span 
					.clock__line
						span 
						span 
					.clock__line
						span 
						span 
					.clock__line
						span 
						span 
					.clock__line
						span 
						span 
					.clock__line
						span 
						span 
					.clock__line
						span 
						span 


