extends ./tpl/layout

block page
	.container
		-
			var NUMBER_LINE_COUNT = 7;

		.clock.js-clock
			.clock__group
				.clock__number.js-clock__item
					- for(var i = 0; i < NUMBER_LINE_COUNT; i++)
						.clock__line
							span
							span
				.clock__number.js-clock__item
					- for(var i = 0; i < NUMBER_LINE_COUNT; i++)
						.clock__line
							span
							span
			.clock__dots.js-clock__dots
				span
				span
			.clock__group
				.clock__number.js-clock__item
					- for(var i = 0; i < NUMBER_LINE_COUNT; i++)
						.clock__line
							span
							span
				.clock__number.js-clock__item
					- for(var i = 0; i < NUMBER_LINE_COUNT; i++)
						.clock__line
							span
							span
			.clock__group.clock__group_seconds.js-clock__seconds
				.clock__number.js-clock__item
					- for(var i = 0; i < NUMBER_LINE_COUNT; i++)
						.clock__line
							span
							span
				.clock__number.js-clock__item
					- for(var i = 0; i < NUMBER_LINE_COUNT; i++)
						.clock__line
							span
							span